<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soccer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Soccer</a>
            </div>
        </nav>
    </header>

    <!--Section donde hago una introduccion a lo que se va a mostrar-->
    <section class="categorias mt-5 text-center">
        <h1 class="display-4">Datos-Ligas Europeas(2016-2017)</h1>
        <p class="mt-2">Datos mas relevantes que se van a mostrar por columna</p>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>Liga</h3>
                    <p>Nombre de la liga en la que se jugó el partido</p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>Cantidad</h3>
                    <p>La cantidad de equipos que participaban de esa liga</p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>Fecha</h3>
                    <p>Fecha en la que se jugó el partido </p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>Equipo Local</h3>
                    <p>Nombre del equipo local.</p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>Equipo Visitante</h3>
                    <p>Nombre del equipo Visitante.</p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>Resultado</h3>
                    <p>Resultado del partido</p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>H-Final</h3>
                    <p>Cuántos goles tuvo el equipo local al final del partido.</p>
                </div>
                <div class="col-6 col-md-3 text-center categoria">
                    <h3>A-Final</h3>
                    <p>Cuántos goles tuvo el equipo visitante al final del partido.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span>Para Una Informacion Mas completa y detallada presione <a href="https://www.kaggle.com/frankpac/soccerdata" target="_blank">Aqui..</a></span>
                </div>
            </div>
           
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
