@model Soccer.Models.LeagueModel.DataList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">@Html.DisplayFor(m=>m.listLeagueData[0].league)</h1>
</div>
