@model Soccer.Models.LeagueModel.League
@{
    ViewData["Title"] = "League";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 class="display-4">@Model.league</h1>
    </div>
</body>
</html>
